$sections-paddings: (
  sm: (
    padding:24px,
  ),
  md: (
    padding: 30px,
  ),
  lg: (
    padding: 60px,
  )
);
.sections-paddings{
  @include a-set($sections-paddings);
}
// CUSTOM SECTIONS

$bg-hero-section: (
  sm: (
    background: url('/img/stock-photo-sm.jpg') #1D1D1B no-repeat center,
    background-size: cover,
  ),
  md: (
    background: url('/img/stock-photo-sm.jpg') #1D1D1B no-repeat center,
    background-size: cover,
  ),
  lg: (
    background: url('/img/stock-photo.jpg') #1D1D1B no-repeat center,
    background-size: cover,
  )
);

.hero-section{
  @include a-set($bg-hero-section);
  @include a-set($sections-paddings);
}

// .hero-section-sm{
//   background: url ('../public/img/stock-photo-sm.jpg') #1D1D1B no-repeat center;
//   background-size: cover;
  
// }


.carrusel{
  background: url('../public/img/video-poster.jpg') #FFF no-repeat center;
  background-size: cover;
  @include a-set($sections-paddings);
}

.boutiques{
  background: url('../public/img/boutique-bg.jpg') #FFF no-repeat center;
  background-size: cover;
  @include a-set($sections-paddings);
}

.our-products{
  background-color: rgba(238,238,237,1);
  padding-top: 4rem;
}

section[id]{
  scroll-margin-top:100px;
}


.nav_link{
    text-decoration: none;
    background-image: linear-gradient(rgba(228,14,32,1), rgba(228,14,32,1));
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 3px;
    transition: background-size .4s;
    &:hover{
      background-size: 100% 3px;
    }
}



.nav_link_active{
  text-decoration: none;
  background-image: linear-gradient(rgba(228,14,32,1), rgba(228,14,32,1));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 100% 3px;
  transition: background-size .4s;
}

