$sections-paddings: (
  sm: (
    padding:24px,
  ),
  md: (
    padding: 30px,
  ),
  lg: (
    padding: 60px,
  )
);
.sections-paddings{
  @include a-set($sections-paddings);
}
// CUSTOM SECTIONS

$bg-hero-section: (
  sm: (
    background: url('/img/stock-photo.png') #1D1D1B no-repeat center,
    background-size: cover,
  ),
  md: (
    background: url('/img/stock-photo.png') #1D1D1B no-repeat center,
    background-size: cover,
  ),
  lg: (
    background: url('/img/stock-photo.png') #1D1D1B no-repeat center,
    background-size: cover,
  )
);

.hero-section{
  @include a-set($bg-hero-section);
  // @include a-set($sections-paddings);
}

.category-selector{
  padding-bottom: 40px;
}

.carrusel{
  background: url("/img/mi-parrilla-bkg-lg.jpg");
  padding-top: 4rem;
  
  background-size: cover;
  @include a-set($sections-paddings);
}

.boutiques{
  background: url("/img/sede-optica.jpg") #FFF no-repeat center;
  background-size: cover;
  
  @include a-set($sections-paddings);
}

.our-products{
  background: url("/img/mi-parrilla-bkg-lg.jpg");
  padding-top: 4rem;
}

section[id]{
  scroll-margin-top:100px;
}


.nav_link{
    text-decoration: none;
    background-image: linear-gradient(rgba(72,209,204,1), rgba(72,209,204,1));
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 3px;
    transition: background-size .4s;
    &:hover{
      background-size: 100% 3px;
    }
}



.nav_link_active{
  text-decoration: none;
  background-image: linear-gradient(rgba(72,209,204,1), rgba(72,209,204,1));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 100% 3px;
  transition: background-size .4s;
}


$logo-prime-grill: (
  sm: (
    width: 120px,
    height: 120px,

  ),
  md: (
    width: 130px,
    height: 124px,

  ),
  lg: (
    width: 150px,
    height: 140px,
  )
);


.logo-prime-grill{

  
  @include a-set($logo-prime-grill);
}

.parrilla{
  background: url("/img/fondo-servicio.jpg");

}

.bottom-parrila{
  display: flex;
  justify-content: center;
  background: #D5B16C;
  color: var(--global-brand-black, #1D1D1B);
  border-radius: .25rem;
  border-color: transparent;
  border-width: 2px;
  align-items: center;
  &:hover{
    background:#A38243;
  }

}

$mision-vision-bg:(
  sm: (
    background:none,
  ),
  md: (
    background:none,
  ),
  lg: (
    background: linear-gradient(
      to right,
      rgb(30,144,255) 0%,
      rgb(30,144,255) 50%,
      white 50%,
      white 100%
    )
  )
);
$mision-vision-bg-left: (
  sm: (
    background:rgb(30,144,255),
  ),
  md: (
    background:rgb(30,144,255),
  ),
  lg: (
    background: none,
  )
);
.mision-vision{
  @include a-set($mision-vision-bg);
  @include a-set($sections-paddings);
  &-item-left {
    @include a-set($mision-vision-bg-left);
  }
}


$contact-section: (
  sm: (
    background: url('/img/contact-section-bg-md.jpg') #1D1D1B no-repeat center,
    background-size: cover,
    background-repeat: no-repeat,
  ),
  md: (
    background: url('/img/contact-section-bg-md.jpg') #1D1D1B no-repeat center,
    background-size: cover,
    background-repeat: no-repeat,
  ),
  lg: (
    background: url('/img/contact-section-bg.jpg') #1D1D1B no-repeat center,
    background-size: cover,
    background-repeat: no-repeat,
  )
);


.contact-section{
  
  @include a-set($sections-paddings);
  @include a-set($contact-section);
}
