$sections-paddings: (
  sm: (
    padding:24px,
  ),
  md: (
    padding: 30px,
  ),
  lg: (
    padding: 60px,
  )
);
.sections-paddings{
  @include a-set($sections-paddings);
}
// CUSTOM SECTIONS
.hero-section{
  background: #6c6c5b no-repeat center;
  background-size: cover;
  @include a-set($sections-paddings);
}

.hero-section{
  background: url('../public/img/stock-photo.jpg') #1D1D1B no-repeat center;
  background-size: cover;
  @include a-set($sections-paddings);
}

.carrusel{
  background: url('../public/img/video-poster.jpg') #FFF no-repeat center;
  background-size: cover;
  @include a-set($sections-paddings);
}

.boutiques{
  background: url('../public/img/boutique-bg.jpg') #FFF no-repeat center;
  background-size: cover;
  @include a-set($sections-paddings);
}